## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcscheme

## OS X
.DS_Store

## Xcode
DerivedData

## Visual Studio
.vs
[Dd]ebug/
[Rr]elease/
*.user
*.VC.opendb
*.VC.db
ipch/
Android/MMKV/mmkv/.cxx/ndk_locator_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/cmake_install.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/CMakeOutput.log
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/feature_tests.bin
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/feature_tests.c
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/feature_tests.cxx
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/cmake_install.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/CMakeOutput.log
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/feature_tests.bin
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/feature_tests.c
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/feature_tests.cxx
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/x86/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/x86/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/x86/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/x86_64/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/x86_64/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppDebug/x86_64/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/arm64-v8a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/arm64-v8a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/arm64-v8a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/armeabi-v7a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/armeabi-v7a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/armeabi-v7a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/x86/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/x86/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/x86/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/x86_64/build_model.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/x86_64/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/SharedCppRelease/x86_64/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/arm64-v8a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/arm64-v8a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/arm64-v8a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/armeabi-v7a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/armeabi-v7a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/armeabi-v7a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/x86/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/x86/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/x86/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/x86_64/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/x86_64/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppDebug/x86_64/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/arm64-v8a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/arm64-v8a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/arm64-v8a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/armeabi-v7a/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/armeabi-v7a/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/armeabi-v7a/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/x86/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/x86/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/x86/CMakeFiles/cmake.check_cache
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/x86_64/build_model.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/x86_64/json_generation_record.json
Android/MMKV/mmkv/.cxx/cmake/StaticCppRelease/x86_64/CMakeFiles/cmake.check_cache
